NUXT_PUBLIC_WEB_BASE=http://localhost:3212
NUXT_PUBLIC_ADMIN_BASE=http://localhost:3213
NUXT_PUBLIC_APP_BASE=http://localhost:3214
NUXT_PUBLIC_API_BASE=http://localhost:3215

PLAYWRIGHT_HEADLESS=false

ADMIN_TEST_EMAIL=''
ADMIN_TEST_PASSWORD=''
ADMIN_TEST_FULL_NAME=''

COACH_TEST_EMAIL=''
COACH_TEST_PASSWORD=''
COACH_TEST_FULL_NAME=''

CLIENT_TEST_EMAIL=''
CLIENT_TEST_PASSWORD=''
CLIENT_TEST_FULL_NAME=''

TEST_BUNDLE_URL=''